*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    
}

.wrapper{
    margin: 0 auto; 
    width: 90%;
    max-width: 500px;
    padding: 3rem 0;
}

.title{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
}

a{
    display: block;
    margin: 20px;
    text-decoration: none;
    color: #fff; 
    background: #a94949;
    padding: 10px;
    text-align: center;
    border-radius:20px ;
    width: 140px;

}
a:hover{

    background: #e35454;
}

img{
    width: 70%;
}
